
**/.*
**/*~

**/build
**/doc
**/dist

**/*.lnk
**/*.mod
**/*.so
**/*.c
*.txt
*.csv
*.html

**/__pycache__
**/*.egg-info

**/*logfile*
**/*.log*
**/*.iml

.vscode/**/*

!.devcontainer
!.github
!.vscode

!.vscode/launch.json
!.vscode/tasks.json

!tests/resources/*

!**/requirements.txt
!/.gitignore
!.dockerignore
!/requirements.*.txt
!/CMakeLists.txt
!/version.txt
!/LICENSE.txt

!/tests/**/*.txt
!/tests/**/*.csv